@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebus Neue', cursive;
    background: #282739;
    height: 100vh;
    width: 100vw;
}

nav {
    height: 20%;
    width: 70%;
    justify-content: end;
    margin-right: min(10%, 10rem);
}

ul {
    justify-content: space-between;
    height: 100%;
    width: 70%;
}


li {
    justify-content: center;
    color: white;
    list-style: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.nav-container {
    padding-top: 2rem;
    padding-inline: 1rem;
    justify-content: space-between;
}

#logo {
    color: white;
    height: 5rem;
    width: max(8rem, 10%);
    flex-shrink: 0;
    justify-content: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

#logo::after { 
    font-size: 0.7em;
    content: 'Ideate. Innovate. Educate.';
    position: absolute;
    padding-top: 1.6rem;
}

.navlink {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white;
}

.navlink::after {
    content: '';
    height: 0.1rem;
    width: 99%;
    left: -5%;
    bottom: 10%;
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.navlink:hover::after {
    opacity: 1;
    transform: translate3d(6%, 0, 0);
}

.nav-list>li {
    height: 2rem;
}

@media screen and (max-width: 35em) {
    .nav-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .nav-list {
        flex-direction: column;
        --gap: 10rem
    }

    #logo {
        top: 3%;
        left: 5%;
        position: fixed;
        opacity: 1;
    }

    nav {
        padding-block: min(14rem, 25.5vh);
        overflow-x: hidden;
        overflow-y: hidden;
        background: hsl(0 0% 100% / 0.2);
        backdrop-filter: blur(5em);
        width: min(30rem, 75vw);
        margin-left: min(50vw, 8rem);
    }
}