@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #282739;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 20%;
    width: 60%;
    justify-content: start;
    margin-right: min(10%, 11.23rem);
}

ul {
    justify-content: space-between;
    height: 100%;
    width: 65%;
}


li {
    justify-content: center;
    color: white;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.decorations {
    position: absolute;
    z-index: -1;
}

.decorations-bubble-1 {
    position: absolute;
    width: 1006px;
    height: 1006px;
    left: -600px;
    top: -320px;
    background: #CBD8D7;
    border-radius: 600px;
}

.decorations-bubble-2 {
    position: absolute;
    width: 1006px;
    height: 1006px;
    left: 1574px;
    top: 605px;
    background: #CBD8D7;
    border-radius: 600px;
}

.content {
    z-index: 1;
    position: absolute;
}


/* navbar */

.nav {
    position: absolute;
    z-index: 1;
    padding: 2vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 126%;
    color: #282739;
}

.logo-tagline {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 126%;
    letter-spacing: 0.085em;
    color: #282739;
}

.tabs {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.tabs div {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 126%;
    color: #FFFFFF;
}

.contact-us {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 126%;
    color: #282738;
    width: 256px;
    height: 64px;
    display: grid;
    place-items: center;
    background: #CBD8D7;
    border-radius: 54px;
}

/* navbar ends */

.main {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
